docs/doxyxml/
docs/github.io/
build/
lib/
bin/
*.bin

include/cpp3ds/Emulator/ui_emulator.h

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml
## Directory-based project format:
.idea/

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
